@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #222831;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;


}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-image:linear-gradient(to bottom, #76ABAE, #31363F) ;
    color: whitesmoke;

    flex-wrap: wrap;

}

nav h2
{
    font-size: 2rem;
}

nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    flex-wrap: wrap;

}

nav ul li a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}

main
{
    min-height: 70vh;
}


footer
{
    width: 100vw;
    position: absolute;
    bottom: 0;
}